Checking the columns provided in loan.csv dataset & checking the columns descriptions in Data\_Dictionary.xlsx provided, we can categorize data in three groups as below and consider accoridngly in our analysis.

**Customer Information:**

**Customer Credit Health & Payment Behaviour:**

**Loan Information:**

**Approach**

**Data Conversion:**

Converting needed object to int or float

Removing records instead of imputing as needed

# <u>Importing required libraries</u>

In [58]:
import pandas as pd, numpy as np
import matplotlib.pyplot as plt

# <u>Sourcing loan data from loan.csv</u>

In [59]:
loan_data = pd.read_csv("loan.csv")

/tmp/ipykernel_7200/2324845821.py:1: DtypeWarning: Columns (47) have mixed types. Specify dtype option on import or set low_memory=False.
  loan_data = pd.read_csv("loan.csv")

# <u>Data Understanding</u>

In [60]:
# Checking rows and columns in dataset
loan_data.shape

(39717, 111)

In [61]:
# Checking general information about dataset, mostly to see various datatypes available in dataset
loan_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 39717 entries, 0 to 39716
Columns: 111 entries, id to total_il_high_credit_limit
dtypes: float64(74), int64(13), object(24)
memory usage: 33.6+ MB

In [62]:
loan_data.head()

,id,member_id,loan_amnt,funded_amnt,funded_amnt_inv,term,int_rate,installment,grade,sub_grade,...,num_tl_90g_dpd_24m,num_tl_op_past_12m,pct_tl_nvr_dlq,percent_bc_gt_75,pub_rec_bankruptcies,tax_liens,tot_hi_cred_lim,total_bal_ex_mort,total_bc_limit,total_il_high_credit_limit
0,1077501,1296599,5000,5000,4975.0,36 months,10.65%,162.87,B,B2,...,NaN,NaN,NaN,NaN,0.0,0.0,NaN,NaN,NaN,NaN
1,1077430,1314167,2500,2500,2500.0,60 months,15.27%,59.83,C,C4,...,NaN,NaN,NaN,NaN,0.0,0.0,NaN,NaN,NaN,NaN
2,1077175,1313524,2400,2400,2400.0,36 months,15.96%,84.33,C,C5,...,NaN,NaN,NaN,NaN,0.0,0.0,NaN,NaN,NaN,NaN
3,1076863,1277178,10000,10000,10000.0,36 months,13.49%,339.31,C,C1,...,NaN,NaN,NaN,NaN,0.0,0.0,NaN,NaN,NaN,NaN
4,1075358,1311748,3000,3000,3000.0,60 months,12.69%,67.79,B,B5,...,NaN,NaN,NaN,NaN,0.0,0.0,NaN,NaN,NaN,NaN

In [63]:
loan_data.tail()

,id,member_id,loan_amnt,funded_amnt,funded_amnt_inv,term,int_rate,installment,grade,sub_grade,...,num_tl_90g_dpd_24m,num_tl_op_past_12m,pct_tl_nvr_dlq,percent_bc_gt_75,pub_rec_bankruptcies,tax_liens,tot_hi_cred_lim,total_bal_ex_mort,total_bc_limit,total_il_high_credit_limit
39712,92187,92174,2500,2500,1075.0,36 months,8.07%,78.42,A,A4,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
39713,90665,90607,8500,8500,875.0,36 months,10.28%,275.38,C,C1,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
39714,90395,90390,5000,5000,1325.0,36 months,8.07%,156.84,A,A4,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
39715,90376,89243,5000,5000,650.0,36 months,7.43%,155.38,A,A2,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
39716,87023,86999,7500,7500,800.0,36 months,13.75%,255.43,E,E2,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [64]:
print(loan_data.columns.tolist())

['id', 'member_id', 'loan_amnt', 'funded_amnt', 'funded_amnt_inv', 'term', 'int_rate', 'installment', 'grade', 'sub_grade', 'emp_title', 'emp_length', 'home_ownership', 'annual_inc', 'verification_status', 'issue_d', 'loan_status', 'pymnt_plan', 'url', 'desc', 'purpose', 'title', 'zip_code', 'addr_state', 'dti', 'delinq_2yrs', 'earliest_cr_line', 'inq_last_6mths', 'mths_since_last_delinq', 'mths_since_last_record', 'open_acc', 'pub_rec', 'revol_bal', 'revol_util', 'total_acc', 'initial_list_status', 'out_prncp', 'out_prncp_inv', 'total_pymnt', 'total_pymnt_inv', 'total_rec_prncp', 'total_rec_int', 'total_rec_late_fee', 'recoveries', 'collection_recovery_fee', 'last_pymnt_d', 'last_pymnt_amnt', 'next_pymnt_d', 'last_credit_pull_d', 'collections_12_mths_ex_med', 'mths_since_last_major_derog', 'policy_code', 'application_type', 'annual_inc_joint', 'dti_joint', 'verification_status_joint', 'acc_now_delinq', 'tot_coll_amt', 'tot_cur_bal', 'open_acc_6m', 'open_il_6m', 'open_il_12m', 'open_il_24m', 'mths_since_rcnt_il', 'total_bal_il', 'il_util', 'open_rv_12m', 'open_rv_24m', 'max_bal_bc', 'all_util', 'total_rev_hi_lim', 'inq_fi', 'total_cu_tl', 'inq_last_12m', 'acc_open_past_24mths', 'avg_cur_bal', 'bc_open_to_buy', 'bc_util', 'chargeoff_within_12_mths', 'delinq_amnt', 'mo_sin_old_il_acct', 'mo_sin_old_rev_tl_op', 'mo_sin_rcnt_rev_tl_op', 'mo_sin_rcnt_tl', 'mort_acc', 'mths_since_recent_bc', 'mths_since_recent_bc_dlq', 'mths_since_recent_inq', 'mths_since_recent_revol_delinq', 'num_accts_ever_120_pd', 'num_actv_bc_tl', 'num_actv_rev_tl', 'num_bc_sats', 'num_bc_tl', 'num_il_tl', 'num_op_rev_tl', 'num_rev_accts', 'num_rev_tl_bal_gt_0', 'num_sats', 'num_tl_120dpd_2m', 'num_tl_30dpd', 'num_tl_90g_dpd_24m', 'num_tl_op_past_12m', 'pct_tl_nvr_dlq', 'percent_bc_gt_75', 'pub_rec_bankruptcies', 'tax_liens', 'tot_hi_cred_lim', 'total_bal_ex_mort', 'total_bc_limit', 'total_il_high_credit_limit']

---

## Removing ongoing loans records

#### Note:

While working with dataset, saw that we can remove the records for the ongoing loans \(loan\_status=Current\) due to below reasons

1. We cannot and should not predict will the customer default or fully pay loan in future
2. We can use the customer payment behaviour data of ongoing loans to predict possibility of loan default but that is not in the scope of the problem statement
3. Dataset of ongoing loans is also very low \(only 2%\)

We are removing all records with loan\_status == Current now itself before basic data cleaning as it reduces the dataset and it is helpful to clean data for standard things like all NULL, single value columns etc.

_eg. next\_pymnt\_d seems to be having data only for ongoing loans and seems hence NULL values for this column is above 90%, now after removing records of loan\_status= Current this column gets removed as part of removal of all NULL value columns_

<br/>

We encountered this issue while working further and have to redo all NULL, single value column removals hence decided to remove all ongoing/Current loan entries at start.

In [65]:
# Checking records as per loan_status, to see volume of ongoing loans compared to Fully Paid & Defaulted

print(loan_data['loan_status'].value_counts(dropna=False))

print("")
print("****************")
print("")

print(loan_data['loan_status'].value_counts(normalize=True, dropna=False) * 100)

loan_status
Fully Paid     32950
Charged Off     5627
Current         1140
Name: count, dtype: int64

****************

loan_status
Fully Paid     82.961956
Charged Off    14.167737
Current         2.870307
Name: proportion, dtype: float64

In [66]:
# Ongoing loans are good to consider while analysing if person defaulted on loan due to multiple open loans
# But for doing so lets check if in data provided is any person having multiple loans
members_with_multiple_loans = loan_data[loan_data['member_id'].duplicated()]

members_with_multiple_loans

Empty DataFrame
Columns: [id, member_id, loan_amnt, funded_amnt, funded_amnt_inv, term, int_rate, installment, grade, sub_grade, emp_title, emp_length, home_ownership, annual_inc, verification_status, issue_d, loan_status, pymnt_plan, url, desc, purpose, title, zip_code, addr_state, dti, delinq_2yrs, earliest_cr_line, inq_last_6mths, mths_since_last_delinq, mths_since_last_record, open_acc, pub_rec, revol_bal, revol_util, total_acc, initial_list_status, out_prncp, out_prncp_inv, total_pymnt, total_pymnt_inv, total_rec_prncp, total_rec_int, total_rec_late_fee, recoveries, collection_recovery_fee, last_pymnt_d, last_pymnt_amnt, next_pymnt_d, last_credit_pull_d, collections_12_mths_ex_med, mths_since_last_major_derog, policy_code, application_type, annual_inc_joint, dti_joint, verification_status_joint, acc_now_delinq, tot_coll_amt, tot_cur_bal, open_acc_6m, open_il_6m, open_il_12m, open_il_24m, mths_since_rcnt_il, total_bal_il, il_util, open_rv_12m, open_rv_24m, max_bal_bc, all_util, total_rev_hi_lim, inq_fi, total_cu_tl, inq_last_12m, acc_open_past_24mths, avg_cur_bal, bc_open_to_buy, bc_util, chargeoff_within_12_mths, delinq_amnt, mo_sin_old_il_acct, mo_sin_old_rev_tl_op, mo_sin_rcnt_rev_tl_op, mo_sin_rcnt_tl, mort_acc, mths_since_recent_bc, mths_since_recent_bc_dlq, mths_since_recent_inq, mths_since_recent_revol_delinq, num_accts_ever_120_pd, num_actv_bc_tl, num_actv_rev_tl, num_bc_sats, num_bc_tl, num_il_tl, num_op_rev_tl, num_rev_accts, num_rev_tl_bal_gt_0, num_sats, num_tl_120dpd_2m, ...]
Index: []

[0 rows x 111 columns]

As there are no member\_id repeated means all loans are unique to customers as per data provided.

May be, if names or any other identification info was provided we may have been able to find one customer with multiple loans assuming customer was freshly created every time it was added to system as member\_id is unique.

But considering data as it is we will consider loans given to unique customers and hence we can remove ongoing loans as we cannot predict their outcome.

In [67]:
loan_data_before_removing_ongoing_loans = len(loan_data)
print("Before removing loan_status = Current records : "+str(loan_data_before_removing_ongoing_loans))

loan_data = loan_data[loan_data['loan_status'] != "Current"]

loan_data_after_removing_ongoing_loans = len(loan_data)

print("After removing loan_status = Current records : "+str(loan_data_after_removing_ongoing_loans))

total_ongoing_loans_removed = loan_data_before_removing_ongoing_loans-loan_data_after_removing_ongoing_loans

print("Total ongoing loans removed are "+str(total_ongoing_loans_removed)+", which is "+str(round((total_ongoing_loans_removed/loan_data_before_removing_ongoing_loans)*100, 2))+"% of total data")

Before removing loan_status = Current records : 39717
After removing loan_status = Current records : 38577
Total ongoing loans removed are 1140, which is 2.87% of total data

In [68]:
# Checking records after removing the loan_status = Current records
loan_data.shape

(38577, 111)

---

# <u>Data Cleaning : Starts Here</u>

## Fixing Rows \(Basic Sanity Checks\)

Considering output of head\(\) & tail\(\) we have below observations

- Data set is not having header rows or footer rows
- There are no total or subtotal rows as well
- There are no Column number indicator rows

In [69]:
# Checking if any blank rows in dataset
blank_rows = loan_data[loan_data.isnull().all(axis=1)]

# Print the blank rows
print(blank_rows)

Empty DataFrame
Columns: [id, member_id, loan_amnt, funded_amnt, funded_amnt_inv, term, int_rate, installment, grade, sub_grade, emp_title, emp_length, home_ownership, annual_inc, verification_status, issue_d, loan_status, pymnt_plan, url, desc, purpose, title, zip_code, addr_state, dti, delinq_2yrs, earliest_cr_line, inq_last_6mths, mths_since_last_delinq, mths_since_last_record, open_acc, pub_rec, revol_bal, revol_util, total_acc, initial_list_status, out_prncp, out_prncp_inv, total_pymnt, total_pymnt_inv, total_rec_prncp, total_rec_int, total_rec_late_fee, recoveries, collection_recovery_fee, last_pymnt_d, last_pymnt_amnt, next_pymnt_d, last_credit_pull_d, collections_12_mths_ex_med, mths_since_last_major_derog, policy_code, application_type, annual_inc_joint, dti_joint, verification_status_joint, acc_now_delinq, tot_coll_amt, tot_cur_bal, open_acc_6m, open_il_6m, open_il_12m, open_il_24m, mths_since_rcnt_il, total_bal_il, il_util, open_rv_12m, open_rv_24m, max_bal_bc, all_util, total_rev_hi_lim, inq_fi, total_cu_tl, inq_last_12m, acc_open_past_24mths, avg_cur_bal, bc_open_to_buy, bc_util, chargeoff_within_12_mths, delinq_amnt, mo_sin_old_il_acct, mo_sin_old_rev_tl_op, mo_sin_rcnt_rev_tl_op, mo_sin_rcnt_tl, mort_acc, mths_since_recent_bc, mths_since_recent_bc_dlq, mths_since_recent_inq, mths_since_recent_revol_delinq, num_accts_ever_120_pd, num_actv_bc_tl, num_actv_rev_tl, num_bc_sats, num_bc_tl, num_il_tl, num_op_rev_tl, num_rev_accts, num_rev_tl_bal_gt_0, num_sats, num_tl_120dpd_2m, ...]
Index: []

[0 rows x 111 columns]

- There are no blank rows in data set as well

In [70]:
print(loan_data.duplicated().sum())

0

- There are no duplicate rows in data set

---

## Analysing & Removing Columns

### Basic sanity check on columns

- Missing Column Names : All columns seems to be having proper name provided
- Inconsistent column names : Columns names are consistent and with proper explanation of each column name provided in Data\_Dictionary.xlsx
- Unnecessary columns: No Unidentified columns or blank columns \(Null only are present but we can clean up later\)
- Misaligned columns: All rows are having properly arranged data in given columns, no misaligned columns

---

### Remove all 100% null columns

In [71]:
# Checking % of null present in all columns to see if any columns we can drop

null_percent_per_column = ((loan_data.isnull().sum() / len(loan_data)) * 100)

null_percent_per_column.round(2).sort_values(ascending=False)

verification_status_joint    100.0
annual_inc_joint             100.0
mo_sin_old_rev_tl_op         100.0
mo_sin_old_il_acct           100.0
bc_util                      100.0
                             ...
delinq_amnt                    0.0
policy_code                    0.0
earliest_cr_line               0.0
delinq_2yrs                    0.0
id                             0.0
Length: 111, dtype: float64

In [72]:
# Removing all NULL value columns
loan_data.dropna(axis = 1, how = 'all', inplace = True)

# Checking shape of loan_data after to verify if column count is as expected
loan_data.shape

(38577, 56)

---

### Analyse remaining columns to see % of null present in them and decide accordingly about their removal

In [73]:
null_percent_per_column = (loan_data.isnull().sum() / len(loan_data)) * 100

null_percent_per_column.round(2).sort_values(ascending=False)

mths_since_last_record        92.90
mths_since_last_delinq        64.56
desc                          32.48
emp_title                      6.19
emp_length                     2.68
pub_rec_bankruptcies           1.81
last_pymnt_d                   0.18
chargeoff_within_12_mths       0.15
collections_12_mths_ex_med     0.15
revol_util                     0.13
tax_liens                      0.10
title                          0.03
last_credit_pull_d             0.01
sub_grade                      0.00
collection_recovery_fee        0.00
out_prncp                      0.00
out_prncp_inv                  0.00
total_pymnt                    0.00
total_pymnt_inv                0.00
total_rec_prncp                0.00
total_rec_int                  0.00
total_rec_late_fee             0.00
recoveries                     0.00
last_pymnt_amnt                0.00
term                           0.00
total_acc                      0.00
funded_amnt_inv                0.00
policy_code                    0.00
application_type               0.00
acc_now_delinq                 0.00
funded_amnt                    0.00
delinq_amnt                    0.00
loan_amnt                      0.00
initial_list_status            0.00
int_rate                       0.00
home_ownership                 0.00
zip_code                       0.00
annual_inc                     0.00
verification_status            0.00
issue_d                        0.00
loan_status                    0.00
pymnt_plan                     0.00
url                            0.00
grade                          0.00
purpose                        0.00
addr_state                     0.00
revol_bal                      0.00
dti                            0.00
delinq_2yrs                    0.00
earliest_cr_line               0.00
inq_last_6mths                 0.00
member_id                      0.00
installment                    0.00
open_acc                       0.00
pub_rec                        0.00
id                             0.00
dtype: float64

Deleting mths\_since\_last\_record as they are having 90% and above NULL values & also due to below reasons would not add much value to analysis

1. **mths\_since\_last\_record  \(The number of months since the last public record.\)**
   1. Seems to be last date when customer data was updated publicly which again is not much of value as per problem statement

In [74]:
loan_data = loan_data.drop(columns=['mths_since_last_record'])

print(loan_data.shape)

print(loan_data.columns.tolist())

(38577, 55)
['id', 'member_id', 'loan_amnt', 'funded_amnt', 'funded_amnt_inv', 'term', 'int_rate', 'installment', 'grade', 'sub_grade', 'emp_title', 'emp_length', 'home_ownership', 'annual_inc', 'verification_status', 'issue_d', 'loan_status', 'pymnt_plan', 'url', 'desc', 'purpose', 'title', 'zip_code', 'addr_state', 'dti', 'delinq_2yrs', 'earliest_cr_line', 'inq_last_6mths', 'mths_since_last_delinq', 'open_acc', 'pub_rec', 'revol_bal', 'revol_util', 'total_acc', 'initial_list_status', 'out_prncp', 'out_prncp_inv', 'total_pymnt', 'total_pymnt_inv', 'total_rec_prncp', 'total_rec_int', 'total_rec_late_fee', 'recoveries', 'collection_recovery_fee', 'last_pymnt_d', 'last_pymnt_amnt', 'last_credit_pull_d', 'collections_12_mths_ex_med', 'policy_code', 'application_type', 'acc_now_delinq', 'chargeoff_within_12_mths', 'delinq_amnt', 'pub_rec_bankruptcies', 'tax_liens']

VIKRAM NEED TO CHECK: Should be ok to remove mths\_since\_last\_delinq column which is having 64.66% NULL but lets analyse first

---

### Get all columns with single value and remove them as it will not help much in analysis

- Single value columns will not add much value in our analysis. So removing them.

In [75]:
# Get columns and number of unique values in loan_data
unique_value_counts_per_column = loan_data.nunique()

unique_value_counts_per_column.sort_values()

tax_liens                         1
initial_list_status               1
out_prncp                         1
out_prncp_inv                     1
collections_12_mths_ex_med        1
policy_code                       1
pymnt_plan                        1
application_type                  1
acc_now_delinq                    1
chargeoff_within_12_mths          1
delinq_amnt                       1
loan_status                       2
term                              2
verification_status               3
pub_rec_bankruptcies              3
home_ownership                    5
pub_rec                           5
grade                             7
inq_last_6mths                    9
emp_length                       11
delinq_2yrs                      11
purpose                          14
sub_grade                        35
open_acc                         40
addr_state                       50
issue_d                          55
total_acc                        82
mths_since_last_delinq           95
last_pymnt_d                    101
last_credit_pull_d              106
int_rate                        370
earliest_cr_line                524
zip_code                        822
loan_amnt                       870
funded_amnt                    1019
revol_util                     1088
total_rec_late_fee             1320
collection_recovery_fee        2616
dti                            2853
recoveries                     4040
annual_inc                     5215
total_rec_prncp                6841
funded_amnt_inv                8050
installment                   15022
title                         19297
revol_bal                     21275
desc                          25802
emp_title                     28027
total_rec_int                 34025
last_pymnt_amnt               34418
total_pymnt_inv               36387
total_pymnt                   36714
url                           38577
member_id                     38577
id                            38577
dtype: int64

In [76]:
single_value_columns = unique_value_counts_per_column[unique_value_counts_per_column == 1].index.tolist()

print(len(single_value_columns))

single_value_columns

11

['pymnt_plan',
 'initial_list_status',
 'out_prncp',
 'out_prncp_inv',
 'collections_12_mths_ex_med',
 'policy_code',
 'application_type',
 'acc_now_delinq',
 'chargeoff_within_12_mths',
 'delinq_amnt',
 'tax_liens']

In [77]:
# Checking what is the single value in each column with only 1 unique, to see if its safe to delete the column (mostly ok to delete but cross checking)

for column in single_value_columns:
    print("Looking for column : "+column)
    print(loan_data[column].value_counts())
    print("")

Looking for column : pymnt_plan
pymnt_plan
n    38577
Name: count, dtype: int64

Looking for column : initial_list_status
initial_list_status
f    38577
Name: count, dtype: int64

Looking for column : out_prncp
out_prncp
0.0    38577
Name: count, dtype: int64

Looking for column : out_prncp_inv
out_prncp_inv
0.0    38577
Name: count, dtype: int64

Looking for column : collections_12_mths_ex_med
collections_12_mths_ex_med
0.0    38521
Name: count, dtype: int64

Looking for column : policy_code
policy_code
1    38577
Name: count, dtype: int64

Looking for column : application_type
application_type
INDIVIDUAL    38577
Name: count, dtype: int64

Looking for column : acc_now_delinq
acc_now_delinq
0    38577
Name: count, dtype: int64

Looking for column : chargeoff_within_12_mths
chargeoff_within_12_mths
0.0    38521
Name: count, dtype: int64

Looking for column : delinq_amnt
delinq_amnt
0    38577
Name: count, dtype: int64

Looking for column : tax_liens
tax_liens
0.0    38538
Name: count, dtype: int64

Checking the values in each single value column and as per description provided in data\_dictionary for the column it is ok to delete this columns

In [78]:
# Removing columns with single value from loan_data
loan_data = loan_data.drop(columns=single_value_columns)
                           
# Checking shape of loan_data after to verify if column count is as expected
loan_data.shape

(38577, 44)

---

### Remove columns with all unique values

In [79]:
# Get columns with all unique values
unique_value_columns = loan_data.columns[loan_data.nunique() == len(loan_data)]

unique_value_columns

Index(['id', 'member_id', 'url'], dtype='object')

Removing id, member\_id & url columns as they won't add much value for analysis.

We would have kept one unique value column for any future work of manipulating the entries on basis of unique value like updating or deleting, but not forecasting need of it as per problem statement of case study.

In [80]:
# Removing unqiue value columns

loan_data = loan_data.drop(columns=unique_value_columns)

In [81]:
# Checking shape of loan_data after to verify if column count is as expected
loan_data.shape

(38577, 41)

---

### Remove all columns which are not needed for analysis considering problem statement

In [82]:
print(loan_data.columns.tolist())

['loan_amnt', 'funded_amnt', 'funded_amnt_inv', 'term', 'int_rate', 'installment', 'grade', 'sub_grade', 'emp_title', 'emp_length', 'home_ownership', 'annual_inc', 'verification_status', 'issue_d', 'loan_status', 'desc', 'purpose', 'title', 'zip_code', 'addr_state', 'dti', 'delinq_2yrs', 'earliest_cr_line', 'inq_last_6mths', 'mths_since_last_delinq', 'open_acc', 'pub_rec', 'revol_bal', 'revol_util', 'total_acc', 'total_pymnt', 'total_pymnt_inv', 'total_rec_prncp', 'total_rec_int', 'total_rec_late_fee', 'recoveries', 'collection_recovery_fee', 'last_pymnt_d', 'last_pymnt_amnt', 'last_credit_pull_d', 'pub_rec_bankruptcies']

**Lending Club's investors dealing for the loan will not be of much value to us for analysis hence we can remove those columns.**

Columns: funded\_amnt\_inv, total\_pymnt\_inv

In [83]:
# Removing funded_amnt_inv, total_pymnt_inv columns

loan_data = loan_data.drop(columns=['funded_amnt_inv', 'total_pymnt_inv'])

In [84]:
# Checking columns after removing funded_amnt_inv, total_pymnt_inv columns
print(loan_data.shape)
print(loan_data.columns.tolist())

(38577, 39)
['loan_amnt', 'funded_amnt', 'term', 'int_rate', 'installment', 'grade', 'sub_grade', 'emp_title', 'emp_length', 'home_ownership', 'annual_inc', 'verification_status', 'issue_d', 'loan_status', 'desc', 'purpose', 'title', 'zip_code', 'addr_state', 'dti', 'delinq_2yrs', 'earliest_cr_line', 'inq_last_6mths', 'mths_since_last_delinq', 'open_acc', 'pub_rec', 'revol_bal', 'revol_util', 'total_acc', 'total_pymnt', 'total_rec_prncp', 'total_rec_int', 'total_rec_late_fee', 'recoveries', 'collection_recovery_fee', 'last_pymnt_d', 'last_pymnt_amnt', 'last_credit_pull_d', 'pub_rec_bankruptcies']

**total\_pymnt, total\_rec\_prncp, total\_rec\_int, total\_rec\_late\_fee**

- total\_pymnt : Payments received to date for total amount funded
- total\_rec\_prncp : Principal received to date
- total\_rec\_int : Interest received to date
- total\_rec\_late\_fee : Late fees received to date

This columns seems to highlight the latest collected amounts from customer & may be used by Lending Club for certain calculations.

This columns mostly provides the post loan sanction payment behaviour of customer and may be used to generate understanding of possible defaults but considering our case study requirement, do not feel much value to consider them in analysis hence removing them

<br/>

**recoveries, collection\_recovery\_fee**

- recoveries : post charge off gross recovery
- collection\_recovery\_fee : post charge off collection fee

Columns provides the investment went in recovery of charge off loans, this columns won't be adding value to our analysis hence removing them

<br/>

**last\_pymnt\_d, last\_pymnt\_amnt**

- last\_pymnt\_d : Last month payment was received
- last\_pymnt\_amnt: Last total payment amount received

This columns provide the last date of payments which is of not much value for our analysis hence removing them

<br/>

**last\_credit\_pull\_d**

- last\_credit\_pull\_d : The most recent month LC pulled credit for this loan

Columns mentions month when Lending Club pulled credit of the loan but this won't help much in our analysis hence removing it

In [85]:
# Removing columns in above markdown description

loan_data = loan_data.drop(columns=['total_pymnt', 'total_rec_prncp', 'total_rec_int', 'total_rec_late_fee', 'recoveries', 'collection_recovery_fee', 'last_pymnt_d', 'last_pymnt_amnt', 'last_credit_pull_d'])

In [86]:
# Checking columns after above column removals
print(loan_data.shape)
print(loan_data.columns.tolist())

(38577, 30)
['loan_amnt', 'funded_amnt', 'term', 'int_rate', 'installment', 'grade', 'sub_grade', 'emp_title', 'emp_length', 'home_ownership', 'annual_inc', 'verification_status', 'issue_d', 'loan_status', 'desc', 'purpose', 'title', 'zip_code', 'addr_state', 'dti', 'delinq_2yrs', 'earliest_cr_line', 'inq_last_6mths', 'mths_since_last_delinq', 'open_acc', 'pub_rec', 'revol_bal', 'revol_util', 'total_acc', 'pub_rec_bankruptcies']

**column, desc vs purpose**

- desc : Loan description provided by the borrower
- purpose: A category provided by the borrower for the loan request

desc column is having 32% NULL, whereas purpose is having 0% NULL

As purpose column is there we can use it for analysis instead of desc, so removing desc column.

desc column may be more helpful to get insight in defaulted loans to find if any customer provided misleading purpose for the loan but considering our case study requirement we can skip desc column

In [87]:
# Removing desc column

loan_data = loan_data.drop(columns=['desc'])

In [88]:
# Checking columns after removing desc column
print(loan_data.shape)
print(loan_data.columns.tolist())

(38577, 29)
['loan_amnt', 'funded_amnt', 'term', 'int_rate', 'installment', 'grade', 'sub_grade', 'emp_title', 'emp_length', 'home_ownership', 'annual_inc', 'verification_status', 'issue_d', 'loan_status', 'purpose', 'title', 'zip_code', 'addr_state', 'dti', 'delinq_2yrs', 'earliest_cr_line', 'inq_last_6mths', 'mths_since_last_delinq', 'open_acc', 'pub_rec', 'revol_bal', 'revol_util', 'total_acc', 'pub_rec_bankruptcies']

###### Removing fields below

###### sub\_grade : its part of grade variable, doesn't help much in analysis

addr\_state : this is part data for zip\_code, so keeping zip\_code, removing addr\_state

In [89]:
# FOR DEBUGGING
loan_data_backup = loan_data

## Data Conversion

In [90]:
# Checking datatype of the remaining columns
loan_data.info()

<class 'pandas.core.frame.DataFrame'>
Index: 38577 entries, 0 to 39716
Data columns (total 29 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   loan_amnt               38577 non-null  int64
 1   funded_amnt             38577 non-null  int64
 2   term                    38577 non-null  object
 3   int_rate                38577 non-null  object
 4   installment             38577 non-null  float64
 5   grade                   38577 non-null  object
 6   sub_grade               38577 non-null  object
 7   emp_title               36191 non-null  object
 8   emp_length              37544 non-null  object
 9   home_ownership          38577 non-null  object
 10  annual_inc              38577 non-null  float64
 11  verification_status     38577 non-null  object
 12  issue_d                 38577 non-null  object
 13  loan_status             38577 non-null  object
 14  purpose                 38577 non-null  object
 15  title                   38566 non-null  object
 16  zip_code                38577 non-null  object
 17  addr_state              38577 non-null  object
 18  dti                     38577 non-null  float64
 19  delinq_2yrs             38577 non-null  int64
 20  earliest_cr_line        38577 non-null  object
 21  inq_last_6mths          38577 non-null  int64
 22  mths_since_last_delinq  13672 non-null  float64
 23  open_acc                38577 non-null  int64
 24  pub_rec                 38577 non-null  int64
 25  revol_bal               38577 non-null  int64
 26  revol_util              38527 non-null  object
 27  total_acc               38577 non-null  int64
 28  pub_rec_bankruptcies    37880 non-null  float64
dtypes: float64(5), int64(8), object(16)
memory usage: 8.8+ MB

#### Data Conversion for column : term

In [91]:
# Data conversion for column : term

print("term column before data conversion")
print(loan_data['term'].value_counts(dropna=False))

# Extracting only number from string
loan_data['term'] = loan_data['term'].str.extract(r'(\d+)').astype(int)

print("")

print("term column after data conversion")
print(loan_data['term'].value_counts(dropna=False))

print("")

print("term column data type after conversion is : "+str(loan_data['term'].dtype))

term column before data conversion
term
 36 months    29096
 60 months     9481
Name: count, dtype: int64

term column after data conversion
term
36    29096
60     9481
Name: count, dtype: int64

term column data type after conversion is : int64

#### Data Conversion for column : int\_rate

In [92]:
# Data conversion for column : int_rate

print("int_rate column before data conversion")
print(loan_data['int_rate'].value_counts(dropna=False))

# Removing last % from int_rate
loan_data['int_rate'] = loan_data['int_rate'].apply(lambda x: float(x[:-1]))


print("")

print("int_rate column after data conversion")
print(loan_data['int_rate'].value_counts(dropna=False))

print("")

print("int_rate column data type after conversion is : "+str(loan_data['int_rate'].dtype))

int_rate column before data conversion
int_rate
10.99%    913
11.49%    790
7.51%     787
13.49%    749
7.88%     725
         ...
16.96%      1
18.36%      1
16.15%      1
16.01%      1
16.20%      1
Name: count, Length: 370, dtype: int64

int_rate column after data conversion
int_rate
10.99    913
11.49    790
7.51     787
13.49    749
7.88     725
        ...
16.96      1
18.36      1
16.15      1
16.01      1
16.20      1
Name: count, Length: 370, dtype: int64

int_rate column data type after conversion is : float64

#### Data Conversion for column : emp\_length

In [93]:
# Data conversion for column : emp_length

print("emp_length column before data conversion")
loan_data['emp_length'].value_counts(dropna=False)

emp_length column before data conversion

emp_length
10+ years    8488
< 1 year     4508
2 years      4291
3 years      4012
4 years      3342
5 years      3194
1 year       3169
6 years      2168
7 years      1711
8 years      1435
9 years      1226
NaN          1033
Name: count, dtype: int64

In [94]:
print("% of NULL rows for emp_length is "+str((loan_data['emp_length'].isnull().sum()/len(loan_data))*100))
print("Mode of emp_length column is "+str(loan_data['emp_length'].mode().values[0]))

% of NULL rows for emp_length is 2.6777613603960906
Mode of emp_length column is 10+ years

In [0]:
loan_data[loan_data['loan_status']=='Charged Off'].groupby('')

Dropping rows with NAN emp\_length as the percent of rows is very small, dropping the rows instead of imputing them.

Inputing emp\_length with mode which is 10\+ years would be wrong as we are assuming all customers without emp\_length are having working exp of more than 10 years

In [38]:
# Dropping rows with NAN emp_length
print("Total rows before removing records with NULL emp_length : "+str(loan_data['emp_length'].shape[0]))

loan_data = loan_data[loan_data['emp_length'].notna()]

print("Total rows after removing records with NULL emp_length : "+str(loan_data['emp_length'].shape[0]))

Total rows before removing records with NULL emp_length : 38577

Total rows after removing records with NULL emp_length : 37544

In [39]:
# Converting emp_length as int, considering <1 years exp as 0, 1 year as 1, 2 year as 2 so on & 10+ years as 10

# This one gave warning "Try using .loc[row_indexer,col_indexer] = value instead" so used another way
loan_data['emp_length'] = loan_data['emp_length'].str.replace('< 1 year', '0')
loan_data.loc[loan_data['emp_length'] == '< 1 year', 'emp_length'] = '0'

loan_data['emp_length'] = loan_data['emp_length'].str.extract(r'(\d+)').astype(int)
loan_data['emp_length'].value_counts(dropna=False)

print("")

print("emp_length column data type after conversion is : "+str(loan_data['emp_length'].dtype))

emp_length column data type after conversion is : int64

#### Data Conversion for column : issue\_d

In [40]:
# Converting issue_d column from string object to DateTime
loan_data['issue_d'] = pd.to_datetime(loan_data['issue_d'], format='%b-%y')

print("")

print("issue_d column data type after conversion is : "+str(loan_data['issue_d'].dtype))

issue_d column data type after conversion is : datetime64[ns]

---

### Derived Columns

- Deriving month & year from issue\_d column

In [41]:
# Deriving month & year from issue_d column

# Adding additional column for Year and Month for analysis extrating Year and Month from issue_d
loan_data['issue_year'] = pd.DatetimeIndex(loan_data['issue_d']).year
loan_data['issue_month'] = pd.DatetimeIndex(loan_data['issue_d']).month

---

##### Bucketing certain columns for proper analysis while doing univariate, bivariate analysis

- Bucketing records in quarters as per derived issue\_month column for usage in univariate, bivariate analysis

In [42]:
# Bucketing records in quarters as per dervied issue_month column for usage in univariate, bivariate analysis

# Using quarters as per calendar months, not as per Indian or US financial years
# Q1 : Jan, Feb, Mar
# Q2 : Apr, May, Jun
# Q3 : Jul, Aug, Sep
# Q4 : Oct, Nov, Dec
def bucket_records_in_quarters(column):
    if column < 4:
        return 'Q1' 
    elif (column >= 4) and (column < 7):
        return 'Q2'      
    elif (column >= 7) and (column < 9):
        return 'Q3'  
    else:
        return 'Q4'
    
loan_data['issue_quarter'] = loan_data.apply(lambda x : bucket_records_in_quarters(x['issue_month']), axis = 1)

In [43]:
loan_data[['issue_d','issue_year','issue_month','issue_quarter']].value_counts()

issue_d     issue_year  issue_month  issue_quarter
2011-12-01  2011        12           Q4               1994
2011-11-01  2011        11           Q4               1971
2011-10-01  2011        10           Q4               1863
2011-09-01  2011        9            Q4               1837
2011-08-01  2011        8            Q3               1751
2011-06-01  2011        6            Q2               1675
2011-07-01  2011        7            Q3               1674
2011-05-01  2011        5            Q2               1554
2011-04-01  2011        4            Q2               1505
2011-03-01  2011        3            Q1               1402
2011-01-01  2011        1            Q1               1336
2011-02-01  2011        2            Q1               1239
2010-12-01  2010        12           Q4               1220
2010-11-01  2010        11           Q4               1096
2010-07-01  2010        7            Q3               1092
2010-10-01  2010        10           Q4               1086
2010-09-01  2010        9            Q4               1058
2010-08-01  2010        8            Q3               1058
2010-06-01  2010        6            Q2                996
2010-05-01  2010        5            Q2                894
2010-04-01  2010        4            Q2                806
2010-03-01  2010        3            Q1                718
2010-02-01  2010        2            Q1                605
2009-11-01  2009        11           Q4                602
2009-12-01  2009        12           Q4                598
2010-01-01  2010        1            Q1                585
2009-10-01  2009        10           Q4                545
2009-09-01  2009        9            Q4                449
2009-08-01  2009        8            Q3                408
2009-07-01  2009        7            Q3                374
2009-06-01  2009        6            Q2                356
2009-05-01  2009        5            Q2                319
2009-04-01  2009        4            Q2                290
2009-03-01  2009        3            Q1                276
2009-02-01  2009        2            Q1                260
2009-01-01  2009        1            Q1                239
2008-03-01  2008        3            Q1                236
2008-12-01  2008        12           Q4                223
2008-11-01  2008        11           Q4                184
2008-02-01  2008        2            Q1                174
2008-01-01  2008        1            Q1                171
2008-04-01  2008        4            Q2                155
2008-10-01  2008        10           Q4                 96
2007-12-01  2007        12           Q4                 85
2008-07-01  2008        7            Q3                 83
2008-05-01  2008        5            Q2                 71
2008-08-01  2008        8            Q3                 71
2008-06-01  2008        6            Q2                 66
2007-10-01  2007        10           Q4                 47
2007-11-01  2007        11           Q4                 37
2007-08-01  2007        8            Q3                 33
2008-09-01  2008        9            Q4                 32
2007-07-01  2007        7            Q3                 30
2007-09-01  2007        9            Q4                 18
2007-06-01  2007        6            Q2                  1
Name: count, dtype: int64

---

In [44]:
# Common function to bucket the column

def bucket_columns(column_name, bucketed_column_name, bin_edges, labels):
    loan_data[bucketed_column_name] = pd.cut(loan_data[column_name], bins=bin_edges, labels=labels)
    
    # Verifying if group is done properly by checking max & min in each bucket
    grouped_data = loan_data.groupby(bucketed_column_name)[column_name].agg(['min', 'max'])

    print(grouped_data)

- Bucketing loan\_amnt column for usage in univariate, bivariate analysis

In [45]:
loan_data['loan_amnt'].describe()

count    37544.000000
mean     11119.329986
std       7354.098954
min        500.000000
25%       5500.000000
50%      10000.000000
75%      15000.000000
max      35000.000000
Name: loan_amnt, dtype: float64

In [46]:
# Bucketting loan_amnt
bin_edges = [0, 5000, 10000, 15000, max(loan_data['loan_amnt'])]
labels = ['0-5K', '5K-10K', '10K-15K', '15K & Above']
# Using custom function 'bucket_columns' defined above to bucket the columns
bucket_columns('loan_amnt', 'loan_amnt_bucket', bin_edges, labels)

                    min    max
loan_amnt_bucket
0-5K                500   5000
5K-10K             5025  10000
10K-15K           10025  15000
15K & Above       15025  35000

---

- Bucketing funded\_amnt column for usage in univariate, bivariate analysis

In [47]:
loan_data['funded_amnt'].describe()

count    37544.000000
mean     10853.560489
std       7096.316776
min        500.000000
25%       5400.000000
50%       9600.000000
75%      15000.000000
max      35000.000000
Name: funded_amnt, dtype: float64

In [48]:
# Bucketting funded_amnt

bin_edges = [0, 5000, 10000, 15000, max(loan_data['funded_amnt'])]
labels = ['0-5K', '5K-10K', '10K-15K', '15K & Above']
# Using custom function 'bucket_columns' defined above to bucket the columns
bucket_columns('funded_amnt', 'funded_amnt_bucket', bin_edges, labels)

                      min    max
funded_amnt_bucket
0-5K                  500   5000
5K-10K               5025  10000
10K-15K             10025  15000
15K & Above         15025  35000

---

- Bucketing int\_rate column for usage in univariate, bivariate analysis

In [49]:
loan_data['int_rate'].describe()

count    37544.000000
mean        11.963319
std          3.683012
min          5.420000
25%          8.940000
50%         11.830000
75%         14.420000
max         24.400000
Name: int_rate, dtype: float64

In [50]:
# Bucketting int_rate

bin_edges = [0, 9, 11, 14, max(loan_data['int_rate'])]
labels = ['Low', 'Medium', 'High', 'Very High']
# Using custom function 'bucket_columns' defined above to bucket the columns
bucket_columns('int_rate', 'int_rate_bucket', bin_edges, labels)

                   min    max
int_rate_bucket
Low               5.42   8.94
Medium            9.01  10.99
High             11.03  13.99
Very High        14.07  24.40

---

- Bucketing annual\_inc column for usage in univariate, bivariate analysis

In [51]:
loan_data['annual_inc'].describe() / 1000

count      37.544000
mean       69.407080
std        64.676984
min         4.000000
25%        41.000000
50%        60.000000
75%        83.000000
max      6000.000000
Name: annual_inc, dtype: float64

In [52]:
# Bucketting annual_inc

bin_edges = [0, 40000, 50000, 60000, 70000, 80000, max(loan_data['annual_inc'])]
labels = ['0 - 40K', '40K - 50K', '50K - 60K', '60K - 70K', '70K - 80K', '80K & Above']
# Using custom function 'bucket_columns' defined above to bucket the columns
bucket_columns('annual_inc', 'annual_inc_bucket', bin_edges, labels)

                        min        max
annual_inc_bucket
0 - 40K             4000.00    40000.0
40K - 50K          40008.00    50000.0
50K - 60K          50000.04    60000.0
60K - 70K          60008.00    70000.0
70K - 80K          70001.00    80000.0
80K & Above        80004.00  6000000.0

---

- Bucketing dti column for usage in univariate, bivariate analysis

In [53]:
loan_data['dti'].describe()

count    37544.000000
mean        13.284186
std          6.660551
min          0.000000
25%          8.160000
50%         13.380000
75%         18.550000
max         29.990000
Name: dti, dtype: float64

In [54]:
# Bucketting dti

bin_edges = [0, 8, 13, 18, max(loan_data['int_rate'])]
labels = ['Low', 'Medium', 'High', 'Very High']
# Using custom function 'bucket_columns' defined above to bucket the columns
bucket_columns('dti', 'dti_bucket', bin_edges, labels)

              min   max
dti_bucket
Low          0.01   8.0
Medium       8.01  13.0
High        13.01  18.0
Very High   18.01  24.4

---

# <u>Data Cleaning : Ends Here</u>

---

In [55]:
# Printing column info to see data after data cleanup

print(loan_data.info())

<class 'pandas.core.frame.DataFrame'>
Index: 37544 entries, 0 to 39716
Data columns (total 37 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   loan_amnt               37544 non-null  int64
 1   funded_amnt             37544 non-null  int64
 2   term                    37544 non-null  int64
 3   int_rate                37544 non-null  float64
 4   installment             37544 non-null  float64
 5   grade                   37544 non-null  object
 6   sub_grade               37544 non-null  object
 7   emp_title               36136 non-null  object
 8   emp_length              37544 non-null  int64
 9   home_ownership          37544 non-null  object
 10  annual_inc              37544 non-null  float64
 11  verification_status     37544 non-null  object
 12  issue_d                 37544 non-null  datetime64[ns]
 13  loan_status             37544 non-null  object
 14  purpose                 37544 non-null  object
 15  title                   37534 non-null  object
 16  zip_code                37544 non-null  object
 17  addr_state              37544 non-null  object
 18  dti                     37544 non-null  float64
 19  delinq_2yrs             37544 non-null  int64
 20  earliest_cr_line        37544 non-null  object
 21  inq_last_6mths          37544 non-null  int64
 22  mths_since_last_delinq  13338 non-null  float64
 23  open_acc                37544 non-null  int64
 24  pub_rec                 37544 non-null  int64
 25  revol_bal               37544 non-null  int64
 26  revol_util              37497 non-null  object
 27  total_acc               37544 non-null  int64
 28  pub_rec_bankruptcies    36847 non-null  float64
 29  issue_year              37544 non-null  int32
 30  issue_month             37544 non-null  int32
 31  issue_quarter           37544 non-null  object
 32  loan_amnt_bucket        37544 non-null  category
 33  funded_amnt_bucket      37544 non-null  category
 34  int_rate_bucket         37544 non-null  category
 35  annual_inc_bucket       37544 non-null  category
 36  dti_bucket              36156 non-null  category
dtypes: category(5), datetime64[ns](1), float64(6), int32(2), int64(10), object(13)
memory usage: 9.3+ MB
None

# <u>Data Analysis : Starts Here</u>

## Univariate Analysis

# **VIKRAM WORKING TILL HERE \*\*\*\*\*\*\*\*\*\***

---